body {
   margin: 0;
   padding: 0;
   background-color: #EAECEE;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}
#container {
   margin: 0 auto;
   padding: 0 20px 10px 20px;
   border: 1px solid #666666;
   width: 865px; /* subtract 40px from banner width for padding */
   background: #FFFFFF url(/jakarta.faces.resource/gfx/thn-logo.png.xhtml) 20px 50px no-repeat;
   background-size: 300px;
   padding-top: 110px;
}
#sidebar {
   font-size: 0.9em;
   width: 225px;
   float: right;
   border: 1px solid #666666;
   background: #EAECEE;
   padding: 0 15px 5px 15px;
}
#sidebar ul {
   padding-left: 30px;
}
#footer {
   clear: both;
   text-align: center;
   color: #666666;
   font-size: 0.85em;
}
code {
   font-size: 1.1em;
}
span.invalid {
   padding-left: 3px;
   color: red;
}