<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   template="template.xhtml">
   <ui:define name="content">
      <h1>Employees</h1>
      <h:form id="editEmp">
      		<table>
      			<tr>
					<td><h:outputLabel for="inputFirstName" value="#{sms['empView.table.header.firstName']}" /></td>
					<td><h:inputText id="inputFirstName" value="#{empView.selectedEmployee.firstName}" /></td>
					<td><h:message for="inputFirstName" showDetail="false" showSummary="true"/></td>
				</tr>
				<tr>
					<td><h:outputLabel for="inputLastName" value="#{sms['empView.table.header.lastName']}" /></td>
					<td><h:inputText id="inputLastName" value="#{empView.selectedEmployee.lastName}" /></td>
					<td><h:message for="inputLastName" showDetail="false" showSummary="true"/></td>
				</tr>
			</table>
			<h:commandButton action="#{empView.saveEmployee}" value="#{sms['button.save']}" />
		</h:form>
   </ui:define>
</ui:composition>