<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
   xmlns:h="http://xmlns.jcp.org/jsf/html"
   xmlns:c="http://xmlns.jcp.org/jsf/core"
   template="template.xhtml">
   <ui:define name="content">
      <h1>Employees</h1>
      <h:form id="emp">
			<h:selectOneMenu 
				id="selectDepts" 
				value="#{empView.selectedDepartment}" 
				valueChangeListener="#{empView.onUpdateDepartment}">
				<c:selectItems value="#{empView.departments}" />
				<c:ajax render="empTable" />
			</h:selectOneMenu>
			<h:dataTable id="empTable" value="#{empView.employees}" var="emp">
                      <h:column>
                          <c:facet name="header">
                              <h:outputText value="#{sms['empView.table.header.number']}" />
                          </c:facet>
                          <h:outputText value="#{emp.employeeId}"/>
                      </h:column>
                      <h:column>
                          <c:facet name="header">
                              <h:outputText value="#{sms['empView.table.header.firstName']}" />
                          </c:facet>
                          <h:outputText value="#{emp.firstName}"/>
                      </h:column>
                      <h:column>
                          <c:facet name="header">
                              <h:outputText value="#{sms['empView.table.header.lastName']}" />
                          </c:facet>
                          <h:outputText value="#{emp.lastName}"/>
                      </h:column>
                      <h:column>
                          <c:facet name="header">
                              <h:outputText value="#{sms['empView.table.header.department']}" />
                          </c:facet>
                          <h:outputText value="#{emp.department.departmentName}"/>
                      </h:column>
                      <h:column>
						<h:commandButton id="empEdit" action="editEmployee" actionListener="#{empView.onEditEmployee}" value="#{sms['button.edit']}">
							<c:param id="employeeId" name="employeeId" value="#{emp.employeeId}" />
						</h:commandButton>
                      </h:column>
                  </h:dataTable>
      </h:form>
   </ui:define>
</ui:composition>
