<!DOCTYPE html>
<html lang="en"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
   <h:head>
      <title>JSF HR Sample Application</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <h:outputStylesheet name="css/screen.css"/>
   </h:head>
   <h:body>
      <div id="container">
         <div id="content">
            <ui:insert name="content">
               [Template content will be inserted here]
            </ui:insert>
         </div>
         <div id="footer">
            <p>This sample Projekt aims to show weapplication development with Java, Spring, JPA and JSF</p>
         </div>
      </div>
   </h:body>
</html>
